.books{
    margin-left: .3em;
}
.book{
    margin: 0px auto;
    margin: 2em 1em 8em 0px;
}
.folder{
    height:13em;

}

.folder img{
    height:13em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bookname{
    font-size:1.5em;
    text-align:center;
    font-weight:bold;
}

.price{
    text-align:center;
    font-weight:bolder;
    color:green;
}

.button-buy{
    display: flex;
    justify-content: center;
}