header{
    width: 100%;
    height: 4em;
    color:white;
}

.logo{
    height: 4em;
    text-align: center;
    padding-top: 1em;
}

.search-bar{
    padding-top: .7em;
    margin-left: 28em;
    display: block;
    float:right;
}

button{
    cursor: pointer;
}

.submenu{
    background-color: #16438c;
    margin-top: -5px;
    width: 100%;
    height: 2em;
    float: left;
    display: block;
    position: fixed;
}

.categories-label{
    margin-top: 1px;
    cursor: pointer;
    transition: .5s;
    padding: .2vh;
    padding-left:30px;
    padding-right:30px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.categories-label:hover{
    background-color: #01183d;
}


.categories-details{
    width: 15em;
    margin-left:23em;!important;
    margin-top:1.5em;
    border: 1px solid black;
    background-color: white;
    padding:.3em;
}
.categorie{
    width: 100%;
    padding:10px;
    margin-top:5px;
    margin-left:30px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}

.categorie:hover{
    background-color:lightgrey;
}

.categorie > a{
    text-decoration: none;
    color:black;
    text-align: center;
}
.divider{
    width: 80%;
    margin-left: 2em;
    margin-right: auto;
    margin-top:10px;
    display: block;
    border: .3px solid gray;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #16438c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}